@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Size radius */
/* Colors */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}
ul li {
  margin: 0 0.4rem;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  justify-content: center;
}

.mr-2 {
  margin-right: 0.4rem;
}

.mx-2 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.my-2 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.my-auto {
  margin: auto 0;
}

.ml-auto {
  margin-left: auto;
}

.ml-5 {
  margin-left: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.pt-5 {
  padding-top: 1rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-contents {
  display: contents;
}

.flex-1 {
  flex: 1 1 0%;
}

.card {
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.375rem;
}

.color-blue {
  color: #1d4ed8;
}

.items-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.header {
  height: 56px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: sticky;
  top: 0;
}
.header .header-container {
  max-width: 1280px;
  padding: 0 0.5rem;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;
}

.site-logo {
  max-width: 150px;
  color: #090909;
  cursor: pointer;
}
.site-logo .site-logo-img {
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  height: 40px;
  object-fit: contain;
  display: inline-block;
  outline: 0;
}

.header-search {
  max-width: 420px;
  flex: 1 auto;
  margin: 0 1rem;
  display: none;
}
.header-search .fields {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.header-search .fields .field {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
  position: relative;
  align-items: center;
}
.header-search .fields .field .textfield {
  background-color: #fff;
  border: 1.5px solid rgb(212, 212, 212);
  color: rgb(23, 23, 23);
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.375rem;
  line-height: 1.5;
  padding: calc(0.5em - 1.5px) 0.5em;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  resize: vertical;
}

.btn-icon {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0.5rem;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 0.375rem;
  background-color: transparent;
  overflow-wrap: normal;
}
.btn-icon:hover {
  background-color: rgba(29, 78, 216, 0.1);
  fill: #1d4ed8;
}

.link {
  position: relative;
  cursor: pointer;
  max-width: 100%;
  white-space: nowrap;
  text-decoration: none;
  border-radius: 0.375rem;
}
.link:hover {
  text-decoration: underline;
  background-color: rgba(29, 78, 216, 0.1);
  fill: #1d4ed8;
}

.link-block {
  display: flex;
  padding: 0.5rem 1rem;
}

.create-account {
  padding: 0.5rem;
  color: #1d4ed8;
  border: 1px solid #1d4ed8;
  text-decoration: none;
  border-radius: 0.375rem;
}
.create-account:hover {
  text-decoration: underline;
  color: white;
  background-color: #1d4ed8;
}

.btn-hamburger {
  background-color: transparent;
  border: none;
  border-radius: 0.375rem;
  padding: 0.5rem;
  cursor: pointer;
}
.btn-hamburger:hover {
  background-color: rgba(29, 78, 216, 0.1);
}

.position-relative {
  position: relative;
}

.asideods {
  max-width: 17.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  flex: 2;
}

.myCardInfo {
  padding: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 0.375rem;
  background-color: white;
}

.crayons-subtitle-2ods {
  font-size: 1.25rem;
}

.mb-4ods {
  margin-bottom: 0.5rem;
}

.mt-4ods {
  margin-top: 0.5rem;
}

.lh-tightods {
  line-height: 1.25;
}

.color-base-70ods {
  color: #575757;
}

.justify-centerods {
  justify-content: center;
}

.w-100ods {
  width: 100%;
}

.mb-1ods {
  margin-bottom: 0.25rem;
}

.c-ctaods {
  box-sizing: border-box;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  border: 1px solid;
  border-color: rgb(80, 80, 255);
  text-decoration: none;
  border-radius: 0.375rem;
  font: inherit;
  background-color: transparent;
  color: rgb(80, 80, 255);
  outline: 0;
  text-align: center;
  display: inline-flex;
  position: relative;
  overflow-wrap: normal;
}

.c-ctaods:hover {
  color: white;
  background-color: rgb(80, 80, 255);
  text-decoration: underline;
}

.crayons-layout__sidebar-left {
  grid-row-end: initial;
  width: 240px;
}

.c-link {
  position: relative;
  border-radius: 0.375rem;
  font: inherit;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  color: rgb(99, 99, 99);
  max-width: 100%;
}

.c-link--blockods {
  display: flex;
  padding: 0.5rem 1rem;
  overflow-wrap: normal;
  background-color: transparent;
}
.c-link--blockods:hover {
  color: rgb(80, 80, 255);
  background-color: rgb(230, 230, 255);
  text-decoration: underline;
}

.c-link__icon {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.crayons-subtitle-3 {
  font-size: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.c-link--icon-alone {
  padding: 0.5rem;
  display: inline-block;
}

.mb-6ods {
  margin-bottom: 1.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.overflow-y-auto {
  width: 100%;
  height: 12rem;
  overflow-y: auto;
}

.py-3 {
  padding-top: 2px;
}

.crayons-sponsorship__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.relative {
  position: relative;
}

.Mythreepoints {
  border-radius: 0.375rem;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}
.Mythreepoints:hover {
  background-color: rgb(247, 247, 247);
}

.borderBox {
  box-sizing: border-box;
}

#DarkModeImg {
  width: 100%;
  height: 225px;
  border-radius: 0.375rem;
}

.MyLynk {
  text-decoration: underline;
  color: rgb(78, 78, 254);
}

.fs-s {
  font-size: 0.875rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.sidebar-footer {
  color: #575757;
}

.c-link--branded {
  color: rgb(78, 78, 254);
}
.c-link--branded:hover {
  text-decoration: underline;
}

.posts {
  flex: 4;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.posts nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.posts nav div {
  display: flex;
  align-items: center;
}
.posts nav div input {
  cursor: pointer;
  background-color: #fff;
  border: 1.5px solid rgb(212, 212, 212);
  color: rgb(23, 23, 23);
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0.375rem;
  line-height: 1.5;
  padding: calc(0.5em - 1.5px) 0.5em;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  resize: vertical;
}
.posts nav div button[type=submit] {
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.375rem;
  background-color: transparent;
}
.posts nav div button[type=submit]:hover {
  background-color: rgba(29, 78, 216, 0.1);
  fill: #1d4ed8;
}

.tag-header {
  background-color: none;
  overflow: hidden;
  border-radius: 0.375rem;
}
.tag-header:hover {
  color: #1d4ed8;
  background-color: white;
  cursor: pointer;
}

.post-section {
  margin: 0 0 0.5rem 0;
  padding: 1rem;
}
.post-section:hover {
  cursor: pointer;
}
.post-section .post-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 5px;
  gap: 10px;
}
.post-section .post-title .post-author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.post-section .post-title .post-author .mainContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.post-section .post-title .post-author .mainContainer .avatar {
  border-radius: 50%;
  height: 40px;
  aspect-ratio: 1;
}
.post-section .post-title .post-author .buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.post-section .post-title .post-author .buttonsContainer .editButton {
  align-self: flex-end;
  padding: 0.5rem;
  color: #1d4ed8;
  border: 1px solid #1d4ed8;
  text-decoration: none;
  border-radius: 0.375rem;
}
.post-section .post-title .post-author .buttonsContainer .editButton:hover {
  text-decoration: underline;
  color: white;
  background-color: #1d4ed8;
  cursor: pointer;
}
.post-section .post-title .post-author .buttonsContainer .deleteButton {
  align-self: flex-end;
  padding: 0.5rem;
  color: rgb(255, 113, 113);
  border: 1px solid rgb(255, 113, 113);
  text-decoration: none;
  border-radius: 0.375rem;
}
.post-section .post-title .post-author .buttonsContainer .deleteButton:hover {
  text-decoration: underline;
  color: white;
  background-color: rgb(255, 113, 113);
  cursor: pointer;
}
.post-section .post-title .post-author:hover {
  cursor: pointer;
}
.post-section .post-title .post-title-info {
  font-size: 0.8rem;
  color: #334155;
}
.post-section .post-title .post-title-info :nth-child(1) {
  font-weight: bold;
}
.post-section .post-title .post-title-info:hover {
  cursor: pointer;
}
.post-section .post-indention .title {
  font-weight: 700;
  padding: 0.2rem;
  font-size: 1.25rem;
}
.post-section .post-indention .title:hover {
  cursor: pointer;
  color: #1d4ed8;
}
.post-section .post-indention .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
.post-section .post-indention .bottom .details {
  display: flex;
  height: 36px;
}
.post-section .post-indention .bottom .details .reactions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.25rem;
}
.post-section .post-indention .bottom .details .reactions section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
}
.post-section .post-indention .bottom .details .reactions .reactions-icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.post-section .post-indention .bottom .details .reactions .reactions-icons .reaction-icon {
  display: flex;
  background-color: #f3f4f6;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: -0.75rem;
  overflow: hidden;
}
.post-section .post-indention .bottom .details .reactions .reactions-counter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0.4rem;
}
.post-section .post-indention .bottom .details .reactions:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.post-section .post-indention .bottom .details .comments {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0.25rem 0.75rem;
}
.post-section .post-indention .bottom .details .comments:hover {
  cursor: pointer;
  background-color: #f3f4f6;
}
.post-section .post-indention .bottom .save {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
}
.post-section .post-indention .bottom .save .icon {
  padding: 0.4rem;
  margin-left: 0.4rem;
  border-radius: 0.375rem;
}
.post-section .post-indention .bottom .save .icon:hover {
  cursor: pointer;
  background-color: #eef2ff;
}

.icon-bookmark:hover {
  fill: #1d4ed8;
}

/* Variables */
/*Mixins*/
.sidebar {
  flex: 2;
  border: none;
  padding: 0px;
}
.sidebar a {
  text-decoration: none;
  color: rgb(64, 64, 64);
}
.sidebar a:hover {
  cursor: pointer;
  color: rgb(47, 58, 178);
}
.sidebar .container1 {
  border-radius: 5px;
  box-shadow: inset;
  background-color: #fff;
}
.sidebar .container1 .listSidebar .firstPost {
  padding: 12px 16px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.sidebar .container1 .listSidebar .firstPost p {
  font-size: 12px;
}
.sidebar .container1 .listSidebar .postsList {
  border: none;
}
.sidebar .container1 .listSidebar .postsList .linkPrim {
  padding: 12px 16px !important;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.sidebar .container1 .listSidebar .postsList .linkPrim p {
  font-size: 14px;
}
.sidebar .container1 .listSidebar .postsList .linkPrim div {
  font-size: 12px;
}
.sidebar .gap {
  margin-top: 0.5rem;
}
.sidebar .container2 {
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0 16px 16px 16px;
}
.sidebar .container2 .title {
  padding: 12px 16px;
}
.sidebar .container2 .linkPrim {
  padding: 12px 16px 12px 25px;
}
.sidebar .container2 .linkPrim:hover {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: inset;
}

@media (min-width: 640px) {
  .d-sm-block {
    display: block;
  }
  .d-sm-contents {
    display: contents;
  }
  .d-sm-none {
    display: none;
  }
  .header-search {
    display: block;
  }
  .post-section .post-indention .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .m-md-2 {
    padding: 0.5rem;
  }
  .post-indention {
    margin-left: 50px;
  }
  .site-logo {
    margin-left: 1rem;
  }
}
@media (min-width: 1024px) {
  .d-lg-block {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */