.posts {
   flex: 4;
   padding: 10px 15px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.tag-header {
   background-color: none;
   overflow: hidden;
   border-radius: $border-radius-1;
   &:hover {
      color: rgba($blue-700, 1);
      background-color: white;
      cursor: pointer;
   }
}

.post-section {
   margin: 0 0 0.5rem 0;
   padding: 1rem;

      &:hover {
         cursor: pointer;
      }

   .post-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-bottom: 5px;
      gap: 10px;

      .post-author { 
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;

         .mainContainer{
            display: flex;
            justify-content: space-between;
            gap: 10px;

            & .avatar {
               border-radius: $border-radius-50;
               height: 40px;
               aspect-ratio: 1;
            }
         }

         .buttonsContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & a { 
               display: flex;
               align-items: center;
               justify-content: center;
               text-decoration: none;
               width: 80px;
               height: 30px;
               background-color: blue;
               color: white;
               border-radius: $border-radius-1;
            }
         }
          
         }

         &:hover {
            cursor: pointer;
         }
      }

      .post-title-info {
         font-size: 0.8rem;
         color: rgba($state-700, 1);

         & :nth-child(1){
            font-weight: bold;
         }

         &:hover {
            cursor: pointer;
         }
      }
   }
   
   .post-indention {
      .title {
         font-weight: 700;
         padding: 0.2rem;
         font-size: 1.25rem;
      }
      .title:hover {
         cursor: pointer;
         color: $blue-700;
      }
      .bottom {
         display: flex;
         justify-content: space-between;
         align-items: center;
         font-size: 0.8rem;
         .details {
            display: flex;
            height: 36px;
            .reactions {
               display: flex;
               align-items: center;
               justify-content: center;
               height: 100%;
               padding: 0.25rem;
                  & section {
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     gap: 5px;
                     font-size: 15px;
                  }

               .reactions-icons {
                  display: flex;
                  flex-direction: row-reverse;
                  align-items: center;
                  .reaction-icon {
                     display: flex;
                     background-color: $gray-100;
                     border: 2px solid white;
                     border-radius: $border-radius-50;
                     margin-right: -0.75rem;
                     overflow: hidden;
                  }
               }
               .reactions-counter {
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  padding: 0 0.4rem;
               }
            }

            .reactions:hover {
               cursor: pointer;
               background-color: $gray-100;
            }
            .comments {
               display: flex;
               align-items: center;
               height: 100%;
               margin: 0;
               padding: 0.25rem 0.75rem;
            }
            .comments:hover {
               cursor: pointer;
               background-color: $gray-100;
            }
         }
         .save {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 15px;
            .icon {
               padding: 0.4rem;
               margin-left: 0.4rem;
               border-radius: $border-radius-1;

               &:hover {
                  cursor: pointer;
                  background-color: $indigo-50;
               }
            }
         }
      }
   }

.icon-bookmark:hover {
   fill: rgba($blue-700, 1);
}